#---- Git Ignore File ----%

# Data directory
data/

# Figs directory
figs/spray_glider/

# Docs directory
docs/

# Src directory

# Tools directory

# Miscellaneous 
.python-version
src/__pycache__/
tools/__pycache__/*

